<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DS Bác sĩ</title>
</head>
<style>
header { /* width 100% so với wrapper (wrapper là thẻ cha) */
	height: 70px;
	width: 80%;
	background-color: cyan; /* màu nền */
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

.container {
	height: 270px;
	width: 80%;
	background-color: #f2f2f2;
	margin: auto;
	text-align: center;
}

h2 {
	display: inline-block;
}
</style>
<body>
	<div style="">
		<header>
			<h2>Quản lí Bác sĩ</h2>
		</header>
		<div class="container">
			<form method="get" action="bac-si/tim-kiem">
				<input type="text" name="keyword" /> &nbsp; <input type="submit"
					value="Search" />
			</form>
			<h3>
				<a th:href="@{/bac-si/them-moi}">Thêm mới Bác Sĩ</a>
			</h3>
			<table border="1" cellpadding="5" align="center">
				<tr>
					<th>ID</th>
					<th>CMT</th>
					<th>Họ Tên</th>
					<th>Ngày sinh</th>
					<th>Địa chỉ</th>
					<th>SDT</th>
					<th>Bậc nghề</th>
					<th>Thâm niên</th>
					<th>Trình độ</th>
					<th>Chuyên môn</th>
					<th>Lương</th>
					<th>Action</th>
				</tr>

				<tr th:each="doctor : ${listDoctor}">
					<td th:text="${doctor.id}"></td>
					<td th:text="${doctor.person.cmt}"></td>
					<td th:text="${doctor.person.name}"></td>
					<td th:text="${doctor.person.birth}"></td>
					<td th:text="${doctor.person.address}"></td>
					<td th:text="${doctor.person.phone}"></td>
					<td th:text="${doctor.position}"></td>
					<td th:text="${doctor.exp}"></td>
					<td th:text="${doctor.level}"></td>
					<td th:text="${doctor.specialty}"></td>
					<td th:text="${doctor.salary}"></td>
					<td><a th:href="@{/bac-si/cap-nhat(id=${doctor.id})}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a th:href="@{/bac-si/xoa(id=${doctor.id})}">Delete</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>